<!DOCTYPE html>
<html ng-app="myApp" lang="en-US">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Dance Teaching Aid</title>

</head>

<body ng-controller="MyController">

  <br>
  <h1>Dance Teaching Aid</h1>
  <br>

  <p>This interactive website is designed to help teachers to create a ballroom dance routine in a more efficient manner than is possible with the existing recourses. Once you finish making a routine you will be able to see all the technical details in tabular form. While this website's main focus is on syllabus figures, there's also an option for account holders to add their own figures into the mix! Happy dance-making!</p>

  <div id="logInButtons">
    <button ng-click="signUp()" id="button1">Sign Up</button>
    <button ng-click="logIn()" id="button1">Log In</button>
  </div>

  <form id="danceForm" action="main_page.html" method="post">
    Select a dance:&nbsp
    <select ng-model="danceSelect" id="selectDanceType" name="dance">
      <option value="waltz">Waltz</option>
      <option value="foxtrot">Foxtrot</option>
      <option value="tango">Tango</option>
      <option value="quickstep">Quickstep</option>
      <option value="vWaltz">Viennese Waltz</option>
      <option value="rumba">Rumba</option>
      <option value="cha">Cha Cha Cha</option>
      <option value="jive">Jive</option>
      <option value="samba">Samba</option>
      <option value="pasoDoble">Paso Doble</option>
    </select>
    <input type="submit" id="submitDanceType" value="Begin">
  </form>
  
  <script src="node_modules/angular/angular.js"></script>
  <script src="index.js"></script>

</body>

</html>
