<html ng-app="myApp">
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body ng-controller="MyController">

  <h1>Dance Teaching Aid</h1>

  <div type=description>
    <p>This interactive website is designed to help teachers to create a ballroom dance routine in a more efficient manner than is possible with the existing recourses. Once you finish making a routine you will be able to see all the technical details in tabular form. While this website's main focus is on syllabus figures, there's also an option for account holders to add their own figures into the mix! Happy dance-making!</p>
  </div>

  <div type=form>
    Select a dance:&nbsp
    <select ng-model="danceSelect" name="dance">
      <option value="waltz">Waltz</option>
      <option value="foxtrot">Foxtrot</option>
      <option value="tango">Tango</option>
      <option value="quickstep">Quickstep</option>
      <option value="vWaltz">Viennese Waltz</option>
      <option value="rumba">Rumba</option>
      <option value="cha">Cha Cha Cha</option>
      <option value="jive">Jive</option>
      <option value="samba">Samba</option>
      <option value="pasoDoble">Paso Doble</option>
    </select>
    <button ng-click="beginDance()">Begin</button>
  </div>

  <script src="node_modules/angular/angular.js"></script>
  <script src="index.js"></script>

</body>
</html>
