body {
	font-family: Helvetica;
	background-color: #E6EAFF;
}
h1 {
	text-align: center;
}
div[type=description] {
	width: 1000px;
	margin: auto;
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}
div[type=form] {
	width: 317px; 
	border: 1px solid black; 
	padding: 25px;
	margin: auto;
	text-align: center;
	background-color: #B7C3FF;
}
div[type=signandlog] {
	text-align: center;
}
button[type=sign] {
	width:103px;
}
select[type=drop] {
	text-align: left;
}