body {
	font-family: Helvetica;
	background-color: #E6EAFF;
}
#mainHeading {
	text-align: center;
	max-width: 800px;
	margin: auto;
}

/* SECTION A: Introduction */
p {
	max-width: 1000px;
	margin: auto;
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}
#danceForm {
	max-width: 350px;  
	padding: 25px;
	margin: auto;
	text-align: center;
	background-color: #B7C3FF;
}
#logInButtons {
	max-width: 340px;  
	padding: 25px;
	margin: auto;
	text-align: center;
}
#button1, #submitDanceType {
	width: 80px;
}
#button1 {
	background-color: #18366b;
	color: white;
	padding: 5px;
	border: none;
	border-radius: 6px;
}
#selectDanceType {
	text-align: left;
}

/* SECTION B: Main Page */
#mainPage {
	display: none;
}
#groupedSections {
	width: 1000px;
	margin: auto;
	text-align: center;
}
#figureSelection, #routineSkeleton, #options, #section4CreateFigure {
	display: inline-block;
	background-color: #B7C3FF;
	padding: 10px;
	margin-bottom: 20px;
	vertical-align: top;
}

/* SECTION 1: Figure Selection */
#figureSelection {
	height: 400px;
	width: 260px;
}
#search {
	width: 260px;
	margin-bottom: 5px;
}
#textInstructions {
	display: inline-block;
	width: 140px;
	font-style: italic;
	text-align: left;
}
.numberInput {
	max-width: 30px;
}
.difficultyButton {
	width: 30px;
}
#textSearch {
	width:250px;
	margin-top: 5px;
	margin-bottom: 10px;
}
#figureList {
	display: block;
	max-width: 259px;
	line-height: 25px;
	list-style-type: none;
	text-transform: uppercase;
	text-align: left;
	font-size: 13px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	overflow-x: auto;
}
#figure {
	padding-left: 5px;
}
#figure:nth-child(odd) {
	background-color: #ddf;
}
#figure:hover {
	background-color: #18366b;
	color:white;
}

/* SECTION 2: Routine Skeleton */
#routineSkeleton {
	width: 260px;
	height: 400px;
	margin-left: 20px;
}
#addFigure {
	width: 20px; 
	height: 20px; 
}
#figureBlock {
	width: 100px;
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 5px;
}

/* SECTION 3: Options */
#options {
	max-height: 400px;
	width: 260px;
	margin-left: 20px;
	text-align: center;
}
#optionButton, #optionButtonLast {
	display: inline-block;
	margin: 4px;
	width: 119px;
	vertical-align: middle;
}
#optionButtonLast {
	margin-bottom: 15px;
}
#selectTempo {
	border: 1px solid #18366b;
	padding: 10px;
	width: 226px;
	display: inline-block;
}
#tempoSlider {
	width: 130px;
	position: relative;
	top: 6px;
	margin-right: 12px;
	margin-left: 12px;
}
#startMetronome, #exitButton, #nextButton {
	display: inline-block;
	width: 250px;
	margin-top: 14px;
}
#danceDuration {
	display: inline-block;
	width: 246px;
	margin-top: 14px;
	background-color: #ddf;
	padding: 10px 0px;
}
#exitForm {
	display: inline-block;
}

/* SECTION 4: Create Figure 1 (Hidden) */
#section4CreateFigure {
	display: none;
	max-height: 400px;
	width: 260px;
	margin-left: 20px;
	text-align: center;
}
#textInstructions2 {
	display: inline-block;
	width: 210px;
	font-style: italic;
	text-align: left;
}
#figureForm {
	display: inline-block;
}
#backButton {
	display: inline-block;
	width: 250px;
	margin-top: 14px;
	margin-bottom: 7px;
}

/* SECTION 5: Create Figure 2 (Hidden) */
#figDetailBox {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	top: 150px; 
	left: 50px;
	bottom: 50px; 
	right: 50px;
	z-index: 1;
	display: none;
	background-color: #B7C3FF;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
	width: 615px;
	height: 585px;
	padding-top: 10px;
}
#textInstructions3 {
	display: inline-block;
	width: 150px;
	font-style: italic;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;	
}
#textInstructions4 {
	display: inline-block;
	width: 90px;
	font-style: italic;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
#selectStepNo, #selectPreNo, #selectFollNo {
	margin-left: 10px;
}
#selectRole {
	margin-left: 10px;
}
#figureDataTextInput {
	width: 400px;
	margin-left: 10px;
	font-family: Helvetica;
}
#timingList {
	width: 30px;
	text-align: center;
	margin-left: 10px;
	margin-bottom: 10px;
}
#cbmList, #swayList {
	margin-left: 10px;
	margin-bottom: 10px;
}
#additionalNotesInput {
    width: 400px;
    height: 100px;
    resize: none;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    vertical-align: top;
    font-family: Helvetica;
    font-size: 15px;
}
#prefollTextInput {
	width: 347px;
	margin-left: 10px;
	font-family: Helvetica;
}
#createFigButtonDiv {
	text-align: center;
	margin: auto;
}
#createFigButton {
	display: inline-block;
	width: 150px;
	margin-top: 10px;
}