<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="myApp" lang="en-US">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="style.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet" type="text/css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
  
  <!-- PDF Generator -->
  <!-- <script src="../../node_modules/jsPDF-1.2.60/dist/jspdf.min.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script> 
  <script src="index.js"></script>

  <title>Dance Designer</title>

</head>

<body ng-controller="myController">

  <div id="mainHeading">
    <img src="dd1.png" alt="Dance Design Logo" width="480" height="204"> 
  </div>

  <!-- SECTION A: Introduction -->
  <div id="introPage">

    <div id="danceForm">

      <p>Dance Designer is a web application that helps ballroom dance instructors to create dance routines.</p><br>
      <p>Select dance figures one after the other to build a routine, then click "Routine Details" to see the step-by-step details of the selected figures.</p><br>

      <button id="submitDanceType" ng-click="dispMain()">Begin</button>
    </div>

  </div>

  <!-- SECTION B: Main Page-->
  <div id="mainPage">

  <div id="bluBar">
    <div id="groupedSections">

      <!-- SECTION 1: Figure Selection -->
      <div id="figureSelection"> 

        <div id="search">

          <div class="difButtonGroup">
            <div id="difText">Difficulty:</div>
            <input class="difficultyButton" id="difBut1" type="button" value="1" ng-click="setDifficulty('difBut1')"></input>
            <input class="difficultyButton" id="difBut2" type="button" value="2" ng-click="setDifficulty('difBut2')"></input>
            <input class="difficultyButton" id="difBut3" type="button" value="3" ng-click="setDifficulty('difBut3')"></input>
            <input class="difficultyButton" id="difBut4" type="button" value="4" ng-click="setDifficulty('difBut4')"></input>
          </div>

          <div id="searchSection">
            <input type="text" placeholder="Search..." id="textSearch" ng-model="searchFor"></input>
            <input class="goButton" id="go" type="button" value="Go" ng-click="go()"></input>
            <input class="goButton" id="clr" type="button" value="Clear" ng-click="clear()"></input>
          </div>

        </div>

        <ul id="figureList">
          <li ng-repeat="x in names" id="figure" ng-click="placeFigs(x)">{{x}}</li>
        </ul>

      </div>

      <!-- SECTION 2: The Routine Skeleton -->
      <div id="routineSkeleton">

        <input class="addFigureButton" id="adFig" type="button" value="+" anotherfig></input>
        <input class="addFigureButton" id="subFig" type="button" value="-" ng-click="deleteFig()"></input>
        
        <div id="figureBlocks">
          <input class="figureButtons" id="startFigure" type="button" value="Starting Figure" ng-click="getFigs('startFigure')"></input>
        </div>

      </div>

      <!-- SECTION 3: Options -->
      <div id="options">

        <button id="seeDetailButton" ng-click="seeDetail()">Routine Details</button>
        <button id="seeNetwork" ng-click="seeVisual()">Dance Visualisation</button>
        
        <div id="danceTime1">
          Select Tempo:
          <select ng-model="danceTempo" id="selectTempo" ng-change="tempoChange()">
            <option value="84">84</option>
            <option value="85">85</option>
            <option value="86">86</option>
            <option value="87">87</option>
            <option value="88">88</option>
            <option value="89">89</option>
            <option value="90">90</option>
          </select>bpm<br>
        </div>

        <div id="danceTime2">
          Dance Duration:
          <div id="danceDuration">0m 0s</div> 
        </div>

        <button id="exitButton" ng-click="dispIndex()">Exit</button>
      </div>

      <!-- SECTION 4: Create Figure 1 (Hidden)-->
      <!-- <div id="section4CreateFigure">

        Create Figure<br><br>

        <div id="figureForm">
          <div id="search">
            <div id="textInstructions2">
              Number of Steps:
            </div>
            <input type="number" class="numberInput" id="numIn3" ng-model="numSteps" name="stepNo" min="1" max="50"></input>
          </div>

          <div id="search">
            <div id="textInstructions2">
              Number of Precedes:
            </div>
            <input type="number" class="numberInput" id="numIn4" ng-model="numPre" name="precedeNo" min="0" max="50"></input>
          </div>

          <div id="search">
            <div id="textInstructions2">
              Number of Follows:
            </div>
            <input type="number" class="numberInput" id="numIn5" ng-model="numFoll" name="followNo" min="0" max="50"></input>       
          </div>

          <button id="nextButton" ng-click="dispCreateFig()">Next</button>
        </div>

        <button id="backButton" ng-click="dispOpt()">Back</button>

      </div> -->

    </div>
    </div>

    <!-- SECTION 5: Create Figure 2 (Hidden)-->
    <!-- <div id="figDetailBox">

      <div class="textInstructions3">
        Figure Name:
      </div>
      <input type="text" class="figureDataTextInput"></input><br>

      <div class="textInstructions3">
        Step Number:
      </div>
      <select id="selectStepNo" name="currentStepNo"></select>

      <div class="textInstructions4">
        Role:
      </div>
      <select id="selectRole" name="currentRole">
        <option value="lead">Lead</option>
        <option value="follow">Follow</option>
      </select><br>

      <div class="textInstructions3">
        Feet Positions:
      </div>
      <input type="text" class="figureDataTextInput"></input><br>

      <div class="textInstructions3">
        Alignment:
      </div>
      <input type="text" class="figureDataTextInput"></input><br>

      <div class="textInstructions3">
        Amount of Turn:
      </div>
      <input type="text" class="figureDataTextInput"></input><br>

      <div class="textInstructions3">
        Rise and Fall:
      </div>
      <input type="text" class="figureDataTextInput"></input><br>

      <div class="textInstructions3">
        Footwork:
      </div>
      <input type="text" class="figureDataTextInput"></input><br>

      <div class="textInstructions3">
        Timing:
      </div>
      <input list="timing" id="timingList">
      <datalist id="timing">
        <option value="S"></option>
        <option value="Q"></option>
        <option value="&amp"></option>
        <option value="a"></option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
      </datalist>

      <div class="textInstructions4">
        CBM:
      </div>
      <select id="cbmList">
        <option value="yes">Yes</option>
        <option value="no">No</option>
        <option value="slight">Slight</option>
      </select>

      <div class="textInstructions4">
        Sway:
      </div>
      <select id="swayList">
        <option value="left">Left</option>
        <option value="right">Right</option>
        <option value="none">None</option>
      </select><br>

      <div class="textInstructions3">
        Additional Notes:
      </div>
      <textarea id="additionalNotesInput"></textarea><br>

      <div id="textInstructions3">
        Precedes:
      </div>
      <select id="selectPreNo" name="currentPreNo"></select>
      <input type="text" id="prefollTextInput"></input><br>

      <div class="textInstructions3">
        Follows:
      </div>
      <select id="selectFollNo" name="currentFollNo"></select>
      <input type="text" id="prefollTextInput2"></input><br>
      <div id="createFigButtonDiv">
        <button id="createFigButton" ng-click="dispNoCreateFig()">Back</button>
        <button id="createFigButton2">Save Figure</button>
      </div>

    </div> -->

  </div>

  <!-- SECTION 6: Routine Details (Hidden)-->
  <div id="detailPage">

    <div id="groupDetButtons">
        <input type="button" class="roleSelected" id="man" value="Man" ng-click="changeRole('man')"></input>
        <input type="button" class="topButtons" id="lady" value="Lady" ng-click="changeRole('lady')"></input>
        <input type="button" class="topButtons" ng-click="printPdf()" value="Print"></input>
        <input type="button" class="topButtons" ng-click="noDetail()" value="Back"></input>
    </div>

    <br>
    <table id="detTable">
      <tr>
        <th id="table2">Figure Name</th>
        <th id="table3">Step #</th>
        <th id="table4">Count</th>
        <th id="table5">Foot Position</th>
        <th id="table6">Alignment</th>
        <th id="table7">Turn</th>
        <th id="table8">Rise and Fall</th>
        <th id="table9">Footwork</th>
        <th id="table10">CBM</th>
        <th id="table11">Sway</th>
        <th id="table12">Additional Notes</th>
      </tr>
      <tr ng-repeat="x in X" id="detRow">
        <td style="display:{{x.hide}};text-align: left;" rowspan="{{x.amount}}">{{x.name}}</td>
        <td>{{x.fig_step_no}}</td>
        <td>{{x.timing}}</td>
        <td>{{x.feet_positions}}</td>
        <td>{{x.alignment}}</td>
        <td>{{x.amount_of_turn}}</td>
        <td>{{x.rise_and_fall}}</td>
        <td>{{x.footwork}}</td>
        <td>{{x.CBM}}</td>
        <td>{{x.sway}}</td>
        <td style="display:{{x.hide}};text-align: left;" rowspan="{{x.amount}}">{{x.note}}</td>
      </tr>
    </table>

  </div>

  <!-- SECTION 7: Dance Visualisation (Hidden)-->
  <div id="myNet">
    <div id="groupDetButtons">Waltz Network: Difficulty Level 1<br>
      <input type="button" class="topButtons" ng-click="printPdf()" value="Print"></input>
      <input type="button" class="topButtons" ng-click="noNet()" value="Back"></input>
    </div><br>
    <div id="myNetwork"></div>
  </div>

</body>

</html>
