body {
	font-family: Verdana, sans-serif;
	font-size: 14px;
/*	background-color: #E6EAFF;*/
	
}
#mainHeading {
	padding-top: 20px;
	padding-bottom: 25px;
	text-align: center;
	margin: auto;
}

/* SECTION A: Introduction */
p {
	max-width: 800px;
	margin: auto;
	text-align: justify;
	-moz-text-align-last: center;
	text-align-last: center;
}
#danceForm {
	max-width: 800px;  
	padding: 10px;
	margin: auto;
	text-align: center;
	background-color: #acc4ec;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#logInButtons {
	max-width: 340px;  
	padding: 25px;
	margin: auto;
	text-align: center;
}
#button1, #submitDanceType {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background-color: white;
	color: black;
	width: 80px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#submitDanceType:hover {
	background-color: #18366b;
	color: white;
	border: 2px solid white;
}
#selectDanceType {
	text-align: left;
	background-color: white;
	color: black;
	width: 65px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
/*#credits {
	position: absolute;
    left: 50%;
    bottom: 10px;
}*/

/* SECTION B: Main Page */
#mainPage {
	display: none;
}
/*#bluBar {
	padding-top: 20px;

}*/
#groupedSections {
	width: 1000px;
	margin: auto;
	text-align: center;
}
#figureSelection, #routineSkeleton, #options, #section4CreateFigure, #helpBox {
	display: inline-block;
	background-color: #acc4ec;
	padding: 10px;
	margin-bottom: 20px;
	vertical-align: top;
}

/* SECTION 1: Figure Selection */
#figureSelection {
	height: 400px;
	width: 260px;
	display: inline-block;
	margin: auto;
	text-align: center;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#search {
	width: 260px;
	margin-bottom: 5px;
}
.checkBoxes {
	display: inline-block;
	float: left;
	width: 195px;
}
.difButtonGroup {
	text-align: center;
	margin-bottom: 5px;
}
#textInstructions {
	display: inline-block;
	width: 140px;
	font-style: italic;
	text-align: left;
}
.numberInput {
	max-width: 30px;
}
#difText {
	display: inline-block;
	padding-right: 5px;
}
.difficultyButton {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background-color: white;
	color: black;
	width: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
.difficultyButton:hover {
	background-color: #18366b;
	color: white;
	border: 2px solid white;
}
.diffBtnsSelected {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background-color: #18366b;
	color: white;
	width: 30px;
	margin-top: 2px;
	margin-bottom: 2px;
	border: 2px solid white;
	border-radius: 4px;
}
#searchSection {
	
}
#textSearch {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	width: 100px;
	margin-top: 5px;
	margin-bottom: 8px;
	background-color: white;
	color: black;
	border: 2px solid #18366b;
	border-radius: 4px;
	padding-left: 5px;
}
.goButton {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background-color: white;
	color: black;
	width: 65px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
.goButton:hover {
	background-color: #18366b;
	color: white;
	border: 2px solid white;
}
#figureList {
	display: none;
	max-width: 259px;
	max-height: 322px;
	line-height: 25px;
	list-style-type: none;
/*	text-transform: uppercase;*/
	text-align: left;
	font-size: 13px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	overflow-x: auto;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#figure {
	padding-left: 5px;
}
#figure:nth-child(odd) {
	background-color: white;
}
#figure:hover {
	background-color: #18366b;
	color: white;
}

/* SECTION 2: Routine Skeleton */
#routineSkeleton {
	width: 260px;
	height: 400px;
	margin-left: 20px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#addFigure {
	width: 20px; 
	height: 20px; 
}
#figureBlocks {
	padding-top: 2px;
	height: 360px;
	overflow-x: auto;
}
.figureButtons {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background-color: white;
	color: black;
	display: inline-block;
	width: 250px;
	white-space: normal;
	margin-bottom: 13px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
.figureButtons:hover {
	background-color: #18366b;
	color: white;
	border: 2px solid white;
}
.addFigureButton {
	margin-top: 2px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background-color: white;
	color: black;
	width: 30px;
	border: 2px solid #18366b;
	border-radius: 4px;
	margin-bottom: 10px;
}
.addFigureButton:hover {
	background-color: #18366b;
	color: white;
	border: 2px solid white;
}
.answerBtnsSelected {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background-color: #18366b;
	color: white;
	width: 250px;
	white-space: normal;
	margin-bottom: 13px;
	border: 2px solid white;
	border-radius: 4px;
}

/* SECTION 3: Options */
#options {
	display: inline-block;
	max-height: 400px;
	width: 260px;
	margin-left: 20px;
	text-align: center;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#helpBox {
	display: none;
	height: 400px;
	width: 260px;
	margin-left: 20px;
	border: 2px solid #18366b;
	border-radius: 4px;
	position: relative;
}
#words {
	max-height: 365px;
	text-align: left;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	overflow-x: auto;
}
#seeDetailButton, #seeNetwork, #helpButton, #aboutButton, #backHelpButton {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	display: inline-block;
	width: 250px;
	vertical-align: middle;
	margin-bottom: 12px;
}
#backHelpButton {
	position: absolute;
    bottom: 0px;
    left: 15px;
}
#seeDetailButton {
	margin-top: 2px;
}
#selectTempo {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	background-color: white;
	color: black;
	border: 2px solid #18366b;
	border-radius: 4px;
	margin-left: 5px;
	margin-right: 5px;
}
#tempoSlider {
	width: 130px;
	position: relative;
	top: 6px;
	margin-right: 12px;
	margin-left: 12px;
}
#exitButton {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	display: inline-block;
	width: 250px;
	margin-bottom: 2px;
}
#danceTime1, #danceTime2 {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	display: inline-block;
	width: 245px;
	border: 2px solid #18366b;
	border-radius: 4px;
	margin-bottom: 12px;
	padding: 15px 0 15px 0;
}
#danceTime2 {
	padding: 18px 0 18px 0;
}
#danceDuration {
	display: inline-block;
	color: black;
	margin-left: 5px;
}
#seeDetailButton, #exitButton, #seeNetwork, #helpButton, #aboutButton, #backHelpButton {
	background-color: white;
	color: black;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#seeDetailButton:hover, #exitButton:hover, #seeNetwork:hover, #helpButton:hover, #aboutButton:hover, #backHelpButton:hover {
	background-color: #18366b;
	color: white;
	border: 2px solid white;
}

/* SECTION 4: Create Figure 1 (Hidden) */
#section4CreateFigure {
	display: none;
	max-height: 400px;
	width: 260px;
	margin-left: 20px;
	text-align: center;
}
#textInstructions2 {
	display: inline-block;
	width: 210px;
	font-style: italic;
	text-align: left;
}
#figureForm {
	display: inline-block;
}
#backButton {
	display: inline-block;
	width: 250px;
	margin-top: 14px;
	margin-bottom: 7px;
}

/* SECTION 5: Create Figure 2 (Hidden) */
#figDetailBox {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: absolute;
	top: 150px; 
	left: 50px;
	bottom: 50px; 
	right: 50px;
	z-index: 1;
	display: none;
	background-color: #acc4ec;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 20px;
	width: 615px;
	height: 585px;
	padding-top: 10px;
}
.textInstructions3 {
	display: inline-block;
	width: 150px;
	font-style: italic;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;	
}
.textInstructions4 {
	display: inline-block;
	width: 90px;
	font-style: italic;
	text-align: right;
	margin-top: 10px;
	margin-bottom: 10px;
}
#selectStepNo, #selectPreNo, #selectFollNo {
	margin-left: 10px;
}
#selectRole {
	margin-left: 10px;
}
.figureDataTextInput {
	width: 400px;
	margin-left: 10px;
	font-family: Helvetica;
}
#timingList {
	width: 30px;
	text-align: center;
	margin-left: 10px;
	margin-bottom: 10px;
}
#cbmList, #swayList {
	margin-left: 10px;
	margin-bottom: 10px;
}
#additionalNotesInput {
    width: 400px;
    height: 100px;
    resize: none;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    vertical-align: top;
    font-family: Helvetica;
    font-size: 15px;
}
#prefollTextInput, #prefollTextInput2 {
	width: 347px;
	margin-left: 10px;
	font-family: Helvetica;
}
#createFigButtonDiv {
	text-align: center;
	margin: auto;
}
#createFigButton, #createFigButton2 {
	display: inline-block;
	width: 150px;
	margin-top: 10px;
}

/* SECTION C: Detail Page */
#detailPage {
	display: none; 
	/*usually none*/
	margin: auto;
	text-align: center;
}
.topButtons {
	display: inline-block;
	background-color: white;
	color: black;
	width: 65px;
	margin: 5px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
.topButtons:hover {
	background-color: #18366b;
	color: white;
	border: 2px solid white;
}
.roleSelected {
	display: inline-block;
	background-color: #18366b;
	color: white;
	width: 65px;
	margin: 5px;
	border: 2px solid white;
	border-radius: 4px;
}
.vidIDSelected {
	display: inline-block;
	background-color: #18366b;
	color: white;
	width: 65px;
	margin: 5px;
	border: 2px solid white;
	border-radius: 4px;
}
#groupDetButtons {
	max-width: 350px;
	margin: auto;
	text-align: center;
	background-color: #acc4ec;
	padding: 5px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#descBlock {
	width: 800px;
	margin: auto;
	text-align: justify;
	text-align-last: center;
	moz-text-align-last: center;
	background-color: #acc4ec;
	padding: 5px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#detTable {
	/*width: 1000px;*/
	margin: auto;
	text-align: center;
	background-color: #acc4ec;
}
table {
    /*border-collapse: collapse;*/
    border-spacing: 0;
    border-radius: 4px;
    width: 100%;
    max-width: 1500px;
}
table, th, td {
    border: 1px solid #18366b;
    /*border-radius: 4px;*/
}
th, td {
    padding: 8px;
/*    text-align: left;*/
    font-size: 12px;
}
td {
	background-color: white;
	height: 50px;
}
th {
	height: 50px;
}
#smallText {
	font-size: 10px;
	font-weight: normal;
	margin-top: 5px;
}
#table2 {
	width: 15%;
}
#table3 {
	width: 5%;
}
#table4 {
	width: 5%;
}
#table5 {
	width: 13%;
}
#table6 {
	width: 10%;
}
#table7 {
	width: 10%;
}
#table8 {
	width: 10%;
}
#table9 {
	width: 7%;
}
#table10 {
	width: 5%;
}
#table11 {
	width: 5%;
}
#table12 {
	width: 15%;
}
#myNet {
	display: none;
}
#myNetwork {
	width: 1300px;
	max-width: 80%;
	height: 600px;
	border: 2px solid #18366b;
	border-radius: 4px;
	text-align: center;
	margin: auto;
}
#historyBlock {
	display: inline-block;
	width: 200px;
	border: 2px solid #18366b;
	border-radius: 4px;
}
#titleword {
	margin: 10px;
	font-size: 20px;
}